.App {
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}
/* CitySearch component */
#city-search {
  margin-bottom: 20px;
}
.city {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #f9f9f9; /* Light gray background */
}
/* NumberOfEvents component */
#no-of-events {
  margin-bottom: 20px;
}
.label {
  font-size: 18px;
  color: #293646; /* Dark blue */
  margin-right: 10px;
}
#no-of-events input {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #f9f9f9; /* Light gray background */
}
/* EventList component */
#event-list {
  list-style: none;
  padding: 0;
}
/* Event component */
#event-list li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #293646; /* Dark blue */
  color: #fff; /* White text */
  border-radius: 8px
}
.event-details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
/* Additional styling */
.details-button {
  margin-top: 10px;
  cursor: pointer;
  background-color: #ca282c; /* Red */
  color: #fff; /* White text */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
}
.details-button:hover {
  background-color: #e89c1e; /* Orange on hover */
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}